body {
    background-image: url("./resources/Background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    color: antiquewhite;
    font-size: 16px;
 }
 ul {
    list-style: none;
 }
 nav ul {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    margin-right: 2rem;
}
a {
    color: antiquewhite;
    text-decoration: none;
}
 
 .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-left: 30rem;
 }
.content {
    margin: 1rem;
}
 h1 {
    font-size: 6rem;
 }

 h3{
    font-size: 3rem;
 }

h4{
    font-size: 1rem;
    max-width: 700px;
}

.skills ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.logos img {
    width: 3rem;
    height: 3rem;
    background-color: antiquewhite;
    padding: 0.2em;
}

footer {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
}