html{
    scroll-behavior: smooth;
}

body {
    background-image: url("./resources/Background-1.png");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
 }

 ul {
    list-style: none;
 }
 #nav{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
 }


 nav {
    position: fixed;
    right: 5%;
}
nav .fa-solid{
    display: none;
}

@media screen and (max-width: 420px) {
    nav{
        position: relative;
    }
    nav ul {
        gap: 2rem;
        justify-content: flex-end;
        margin:1rem;
        padding: 0;
    }
    nav .fa-solid{
        display: block;
        font-size: 1.5rem;
    }
    nav ul{
        background:#56c4e6;
        position: fixed;
        top: 0;
        left:-150px;
        width: 150px;
        height: 100vh;
        padding-top: 4rem;
        z-index: 2;
        transition: 0.5s;
    }
    #nav{
        display: block;
        margin: 0;
    }
    nav ul li{
        margin: 1.5rem;
    }

    nav .fa-solid{
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        cursor: pointer;
    }
    
}
    
a {
    color: #fff;
    text-decoration: none;
}
 
 .main {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    min-height: 100vh;
    flex: 1;
    margin-left: 15%;
 }

 h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
 }

 h3{
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin: 1px;
 }

h4{
    font-size: 1rem;
    margin: 0;
}

/*-----ABOUT ME-----*/
#about {
    min-height: 100vh;
}
.container{
    margin-top: 5rem;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 40%;
}
.about-col-1 img{
    width: 90%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
@media screen and (max-width:600px) {
    .row{
        display: block;
    }
    .about-col-2{
        margin-top: 1rem;
    }

}

h2{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}
.about-col-2 p{
    font-size: 0.8rem;
    max-width: 40rem;
}
.tab-titles{
    display: flex;
    margin: 1rem 1.5rem 0.5rem 0;
}
.tab-titles p{
    font-size: 1rem;
}
.tab-links {
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #56c4e6;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 70%;
}
.tab-contents ul{
    padding-inline-start: 0px;
}
.tab-contents ul li{
    list-style: none;
    margin: 1rem 0;
    max-width: 40rem;
    font-size: 0.8rem;
}
.tab-contents ul li span{
    color:#56c4e6;
    font-size: 1rem;
}
.tab-contents ul li img{
    max-width: 1.5rem;
    max-height: 1.5rem;
    background-color: #56c4e6;
    border-radius: 30px;
    margin-right: 1.5rem;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;

}
/*----Projects-----*/
#Projects {
    padding: 3rem 0 0;
    min-height: 100vh;
}

.worklist{
    display: grid;
    max-width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 8rem 15%;
    gap: 2rem;
}
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
 }
 .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
 }
    
.layer{
    width: 100%;
    height: 0%;
    color: #56c4e6;
    background: linear-gradient(rgba(0,0,0,0.8), #fff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}
.logos {
    font-size: 30px;
}
.visit {
    text-align: center;
    border: 2px solid #fff ;
    background-color: #56c4e6;
    border-radius: 50px;
    margin-top: 2rem;
    font-size: 15px;
    width:2rem;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*----- Contact ----- */

#Contact{
    min-height: 80vh;
}
.contact-left{
    flex-basis: 30%;
}
.contactleft-content{
    margin-top: 5rem;
}
.contact-right{
    flex-basis: 60%;
}
.contactleft-content p{
    margin-top: 1rem;
    font-size: 0.8rem;
}
.contact-left p i{
    color: #56c4e6;
    margin-right: 15px;
    font-size: 1.5rem;
}
.social-icons{
    margin-top: 1rem;
}
.social-icons a{
    text-decoration: none;
    font-size: 2rem;
    margin-right: 15px;
    color:#fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #56c4e6;
    transform: translateY(-5px)
}
.btn{
    display: inline-block;
    background: #56c4e6;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.contact-right form{
    width: 100%;
    margin-top: 3rem;
}    
form input, form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: antiquewhite;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: black;
    font-size: 0.8rem;
    border-radius: 10px;
}
.btn-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
.btn.btn2{
    padding: 10px 40px;
    font-size: 0.8rem;
    margin: 0;
    cursor: pointer;
    
}
#msg{
    display: block;
    margin-top: 10px;
    color: #56c4e6;
}



/*------ Footer ---- */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    flex: 1;
}